body,
html{
    height:100%;
    margin:0;
    color: white;
}
#bg{
    background-position: center;
    background-repeat:no-repeat;
    position: absolute;
    background-size: cover;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}